Flask>=1.1.1
Jinja2>=2.10.1
json5>=0.8.4
jsonschema>=3.0.1
nltk>=3.4.5
numpy>=1.16.4
pandas>=0.24.2
path.py>=12.0.1
pathlib2>=2.3.4
plac>=0.9.6
ptyprocess>=0.6.0
pymongo>=3.9.0
pysolr>=3.8.1
python-telegram-bot>=12.2.0
rdflib>=4.2.2
regex>=2019.8.19
requests>=2.22.0
scikit-image>=0.15.0
scikit-learn>=0.21.2
scipy>=1.3.0
snowballstemmer>=1.9.0
sortedcollections>=1.1.2
sortedcontainers>=2.1.0
spacy>=2.2.1
SPARQLWrapper>=1.8.4
dateparser>=0.7.2
gunicorn>=20.1.0
git+https://github.com/PrithivirajDamodaran/Parrot.git#egg=Parrot
protobuf==3.20.1
googletrans==4.0.0-rc1